h1 style="padding: 0 16px" Welcome, #{@user.display_name}!

p.lead style="padding: 0 16px" Your Lite Jot account has been created! You're ready to start using Lite Jot to make note-taking faster and more organized. To get started, sign in at <a href="https://www.litejot.com" style="color: #4A88DD !important;">LiteJot.com</a>.

p style="padding: 0 16px" Thanks for giving Lite Jot a try. We hope your experience is a positive one. For new feature releases, updates and tips, check out our <a href="https://www.litejot.com" style="color: #4A88DD !important; text-decoration: underline;">blog</a>. Feel free to respond to this email with questions, comments, or concerns.

p.unsub-notice style="color: #444 !important; font-family: Verdana,Geneva,sans-serif; font-weight: normal; text-align: left; line-height: 200%; font-size: 11px; margin: 0 0 32px; padding: 0 16px;" align="left"
  |To unsubscribe from account-related emails, <a href="https://www.litejot.com" style="color: #4A88DD !important; text-decoration: underline;">sign in</a> to your account, navigate to settings, and uncheck the email preferences box.
