h1 style="padding: 0 16px" #{@recip_user.display_name},

p.lead style="padding: 0 16px" #{@sender_user.display_name} &lt;<a href="mailto:#{@sender_user.email}" style="color: #C6D137 !important; text-decoration: underline;">#{@sender_user.email}</a>&gt; has shared a folder with you, labeled &ldquo;#{@folder_title}&rdquo;. To view this folder, sign in at <a href="https://www.litejot.com" style="color: #C6D137 !important;">LiteJot.com</a>.

p style="padding: 0 16px" Note: The folder may not be visible if they have yet not specified topics within the folder to be shared with you.

p.unsub-notice style="color: #D9D9D9 !important; font-family: Verdana,Geneva,sans-serif; font-weight: normal; text-align: left; line-height: 200%; font-size: 11px; margin: 0 0 32px; padding: 0 16px;" align="left"
  |To unsubscribe from account-related emails, <a href="https://www.litejot.com" style="color: #C6D137 !important; text-decoration: underline;">sign in</a> to your account, navigate to settings, and uncheck the email preferences box.
