h1 style="padding: 0 16px" Hello,

p.lead style="padding: 0 16px" #{@sender_user.display_name} &lt;<a href="mailto:#{@sender_user.email}" style="color: #C0392B !important; text-decoration: underline;">#{@sender_user.email}</a>&gt; has shared a folder with you, labeled &ldquo;#{@folder_title}&rdquo;. To view this folder, sign up at <a href="https://www.litejot.com" style="color: #C0392B !important;">LiteJot.com</a> with the email address this email is addressed to.

p style="padding: 0 16px" Lite Jot is a web-based note-taking app designed to make taking notes faster and more organized. You are receiving this email because a user has chosen to share a folder with you. We welcome you to learn more and give us a try by clicking the link above. Who knows, you may like us, too!

p style="padding: 0 16px" Note: The folder may not be visible if they have yet not specified topics within the folder to be shared with you.
