.ticket-nav
  a href="/admin/support-tickets/?mode=unanswered" class="#{ mode == 'unanswered' ? 'active' : '' }" Unanswered
  |&nbsp;&nbsp;&#8226&nbsp;&nbsp;
  a href="/admin/support-tickets/?mode=answered" class="#{ mode == 'answered' ? 'active' : '' }"  Answered
