header
  background-color: $palette-dark-red
  overflow: auto

  h1
    color: $palette-lightest-gray
    font-size: 1.75rem
    margin: 0
    font-family: 'Lobster'
    line-height: 3rem
    float: left
    padding-left: 1rem

  nav
    float: right
    line-height: 3rem
    user-select: none

    a:not(#user-settings)
      text-align: center
      width: 3rem
      display: inline-block

    a#user-settings-link
      margin-right: .5rem

    a#keyboard-shortcuts-link
      height: 3rem

      &.active
        background-color: $palette-black

  #keyboard-shortcuts
    background-color: $palette-black
    width: 100%
    display: none
    overflow: auto
    padding: 0 1rem
    color: $palette-white
    text-align: center

    ul
      list-style: none
      display: inline-block
      width: 100%
      line-height: 2.5rem
      margin: 0
      font-size: .9rem
      float: left

      li
        width: auto
        float: left
        margin-right: 2rem
        height: 2.5rem

        .key
          width: 1.5rem
          text-align: center
          background-color: $palette-lightest-gray
          color: $palette-black
          display: inline-block
          line-height: 1.5rem
          margin-top: calc((2.5rem - 1.5rem) / 2)
          border-radius: rem-calc(2px)

        .description
          margin-left: .5rem
          display: inline-block
