nav.top-bar
  box-shadow: $default-box-shadow
  z-index: 3
  position: fixed
  left: 0
  right: 0
  top: 0

  &[data-magellan-expedition='fixed']
    min-width: auto
    padding: 0
  
  h1
    color: $palette-lightest-gray
    font-size: 1.75rem
    margin: 0
    font-family: 'Monda'
    font-weight: bold
    line-height: 3rem
    float: left
    margin-left: 1rem

    img
      height: 2rem
      margin-top: -.2rem
      margin-right: .5rem

    @media #{$small-only}
      width: 15rem

  ul
    li
      // .active used with magellan, not to be confused with
      // .active on a link tag.
      &.active[data-magellan-arrival]
        background-color: $palette-black

        a, a:not(.button)
          background-color: transparent

      &.divider
        border-right-color: darken($primary-color, 4%)

      @media #{$small-only}
        i
          margin-right: .5rem

        span
          display: inline-block!important

      a
        font-family: 'Monda'

        i.twitter-icon
          font-size: 1rem
          margin-right: .5rem
          vertical-align: -9%

      a#keyboard-shortcuts-link.active, a#calendar-link.active
        background-color: $palette-black

      #cal-icon-date
        position: absolute
        top: 4px
        width: 17px
        font-size: 10px
        text-align: center

    &.dropdown
      i
        font-size: .875rem
        margin-right: .5rem
        vertical-align: 0

[data-magellan-expedition-clone]
  display: none
