//header
//  background-color: $palette-dark-red
//  overflow: auto

nav.top-bar
  box-shadow: 0px 1px 4px rgba(0,0,0,0.5)
  z-index: 3
  
  h1
    color: $palette-lightest-gray
    font-size: 1.75rem
    margin: 0
    font-family: 'Monda'
    font-weight: bold
    line-height: 3rem
    float: left
    margin-left: 1rem

  ul
    li
      @media #{$small-only}
        i
          margin-right: .5rem

        span
          display: inline-block!important

      a#keyboard-shortcuts-link.active, a#calendar-link.active
        background-color: $palette-black

      #cal-icon-date
        position: absolute
        top: 4px
        width: 17px
        font-size: 10px
        text-align: center



    &.dropdown
      i
        font-size: .875rem
        margin-right: .5rem
        vertical-align: 0
