.hover-notice
  position: fixed
  width: 26rem
  top: .35rem
  left: calc(50% - 12.5rem)
  background-color: rgba(30, 30, 30, 0.88)
  box-shadow: 0 0 2px rgba(10, 10, 10, .95)
  color: $palette-white
  z-index: 5
  text-align: center
  padding: .35rem .5rem
  font-size: .9rem
