#new-jot-wrap
  background-color: $palette-light-gray
  padding: .3rem .1rem .1rem .1rem
  -webkit-user-select: none
  user-select: none
  outline: 0
  position: relative

  ul#jot-toolbar
    width: 100%
    line-height: 2rem
    margin: 0
    font-family: 'Monda'
    background-color: $palette-light-gray
    color: $palette-black
    outline: 0

    &:focus
      background-color: $primary-color
      color: $palette-white

    li
      display: inline-block
      padding: 0 1rem
      cursor: pointer
      margin-right: 1px
      font-size: .9rem
      vertical-align: top

      i
        margin-right: .5rem

      &.tab
        &.active
          background-color: $palette-white
          color: $palette-black

        &:not(.active)
          &:hover
            background-color: $primary-color
            color: $palette-white

      &#jot-toolbar-break-option
        font-size: .8rem
        display: inline-block

        .is-checked
          display: none

        .not-checked
          display: inline-block

        i
          font-size: 1rem
          vertical-align: -12%

      &#jot-toolbar-break-option, &#jot-toolbar-email-tag
        &:hover
          color: $palette-white
          background-color: $primary-color

  .tab-wrap
    display: none

    &.active
      display: block

    &#jot-heading-tab
      input#jot_heading
        width: 100%
        border: 0
        font-size: 1.3rem
        font-weight: 600
        background-color: $palette-white
        box-shadow: none
        margin-bottom: 0
        padding: 0 1rem
        line-height: 4rem
        height: 4rem

    &#jot-standard-tab
      textarea#jot_content
        min-height: 7rem
        margin-bottom: 0
        border: 0
        transition: none
        resize: none
        background-color: $palette-white
        box-shadow: none
        padding: .5rem .75rem

    &#jot-checklist-tab
      background-color: $palette-white
      padding: 1rem
      max-height: 20rem
      overflow: auto

      ul.jot-checklist
        list-style: none
        margin-bottom: 0

        li.template
          display: none

        input[type='checkbox'].checklist-checkbox
          vertical-align: middle
          margin: 0 1rem 0 0

        input[type='text'].checklist-value
          max-width: 87%
          border: 0
          border-bottom: 1px solid $palette-gray
          box-shadow: none
          display: inline-block
          transition: none

          &:focus
            border-bottom-color: $primary-color

  &.is-scrolled-from-bottom
    box-shadow: 0px -1px 4px rgba(0,0,0,0.5)

  &[data-editing='true']
    z-index: 4

  &.active
    background-color: $primary-color
