body
  margin: 0
  background-color: $palette-lightest-gray


  h2
    text-align: center
    font-size: 5rem
    color: $palette-black
    margin-top: 2rem
    margin-bottom: 2rem
    font-family: 'Lobster'


  h3
    font-size: 2rem
    margin-bottom: 1rem