h1 style="padding: 0 16px" Automatic Ticket ##{@ticket.unique_id} Creation Notification

p.lead style="padding: 0 16px" A new support ticket has been created by #{@user.display_name}.

p.lead style="padding: 0 16px" 
  |<a href="https://www.litejot.com/admin/support-tickets/#{@ticket.unique_id}" style="color: #C0392B !important; text-decoration: underline;">Click here</a> to read the ticket details.
