.user-edit-modal
  font-size: .875rem

  .alert-error
    margin-bottom: 1rem
    display: none

  h4
    font-family: 'Monda'
    font-size: 1.3rem
    clear: both

  button.success
    background-color: $palette-green
    transition: all .15s linear
    outline: 0

    i
      margin-right: .75rem
      font-size: 1.1rem


.progress
  max-width: 600px
  margin: 0.2em 0 0.2em 0


.progress .bar
  height: 1.2em
  padding-left: 0.2em
  color: white
  display: none


body#users_registrations-edit, body#users_registrations-update
  .alert-error, .alert-notice, .alert-alert
    margin-top: 0
    margin-bottom: 2rem

  h4
    font-family: 'Monda'
    font-size: 1.4rem
    clear: both

  h5
    font-family: 'Monda'
    font-size: 1rem

  .row.content
    margin-top: 2rem
    margin-bottom: 2rem

    .panel
      background-color: $palette-white
      box-shadow: $light-box-shadow
      padding: 1.5rem
      margin-bottom: 1rem
      overflow: auto

      section:not(:last-child)
        margin-bottom: 2rem

      .photo-upload
        margin: 2rem 0 1rem 0

        .photo
          width: rem-calc(50)
          height: rem-calc(50)
          border-radius: 50%
          float: left
          margin-right: 1rem

        input
          display: inline-block
          width: auto

      .bar-wrap
        width: 100%
        border: 1px solid $palette-gray
        background-color: $palette-white
        height: 1rem

        .bar-current
          width: 0
          height: 100%
          background-color: $primary-color

      span.resets-on
        display: inline-block
        margin-top: .4rem
        font-family: 'Monda'

  ul.side-menu
    margin: 0 0 2rem 0

    li
      list-style: none
      font-family: 'Monda'
      padding: .5rem .75rem

      &.active
        border-left: .25rem solid $primary-color

