// Color Palette
$palette-soft-red: #E74C3C
$palette-dark-red: #C0392B
$palette-green: #2ECC7E
$palette-google: #da4a3b
$palette-facebook: #3e5d93

$palette-light-gray: #E4E6E7
$palette-lightest-gray: #ECF0F1
$palette-gray: #95a5a6
$palette-dark-gray: #888
$palette-white: #fff
$palette-black: #333

$primary-color: $palette-dark-red
$secondary-color: $palette-gray
$keyover-color: $palette-dark-red

$body-font-family: 'Open Sans'

// Tooltips
$has-tip-border-bottom: 0px solid
$has-tip-border-bottom-hover: 0
$has-tip-cursor-type: auto

// Top Bar
$topbar-bg: $primary-color
$topbar-title-font-size: 1.75rem
$topbar-link-font-size: .875rem
$topbar-dropdown-link-bg-hover: $primary-color
$topbar-menu-icon-color-toggled: $palette-black

