form#new_jot
  textarea#jot_content
    min-height: 6rem
    margin-top: 1rem

#jot-entry-template
  display: none

#jots-wrapper
  overflow-y: auto
  position: relative

  i.loading
    display: block
    font-size: 5rem
    text-align: center
    position: absolute
    top: 5rem
    left: calc(50% - 2.5rem)
    color: $palette-dark-red
    z-index: 2

  .empty-message
    display: none
    margin-top: 4rem
    text-align: center
    color: $palette-black

    i
      font-size: 5rem
      display: block

    p
      margin-top: 2rem