ul#topics-list
  list-style-type: none
  margin: 0

  li
    padding: .5rem .4rem

    &.current
      background-color: $palette-soft-red
      cursor: pointer
      color: $palette-white

    &:hover
      background-color: $palette-dark-red
      cursor: pointer
      color: $palette-white
