ul#topics-list
  list-style-type: none
  margin: 0
  position: relative

  li
    position: absolute
    top: 0
    padding: .5rem .4rem
    transition: all ease-out .25s
    width: 100%
    font-size: .9rem

    i.edit, i.delete
      font-size: .8rem
      position: absolute
      display: none
      top: 13%
      background-color: $palette-soft-red
      border-radius: 50%
      padding: .5rem

      &:hover
        background-color: $palette-black
        cursor: pointer

    i.delete
      right: .4rem

    i.edit
      right: 2.5rem

    .input-edit-wrap
      position: absolute
      top: .25rem
      left: .25rem
      bottom: .25rem
      right: .25rem
      z-index: 2
      display: none

    input.input-edit
      width: 100%
      height: 100%
      border: 0

    &.current
      background-color: $palette-soft-red
      cursor: pointer
      color: $palette-white
      z-index: 2

    &:hover
      background-color: $palette-dark-red
      cursor: pointer
      color: $palette-white

      i.edit, i.delete
        display: block

    &[data-editing='true']
      .input-edit-wrap
        display: block

    &[data-deleting='true']
      margin-left: -200px
      opacity: 0