body#users_sessions-new, body#users_sessions-create, #log-in-modal
  h2
    margin-top: 3rem
    font-size: 1.5rem
    font-family: 'Monda'

  article
    margin: 2rem auto 3rem auto
    background-color: $palette-white
    padding: 2rem
    max-width: 24rem
    font-size: .9rem
    box-shadow: $light-box-shadow
    overflow: auto

  #sign-in-form
    button
      margin-left: 1rem

  .more-options
    &, a
      font-size: .8rem
      font-family: 'Monda'

  p.terms-disclaimer
    padding-top: .5rem
    font-family: 'Monda'
    font-size: .8rem
